.cover {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    position: relative;
	background-color: #000;
}

.cover .wrap {
    position: relative;
    z-index: 1;
    padding: 30px 45px;
    max-width: 1024px;
}

.cover .copyright {
    color: white;
    padding: 5px 0 5px 0;
    font-size: 20px;
    line-height: 1.55;
    text-decoration: none;
}
