.cover {
    width: 100%;
    height: fit-content;
    /* min-height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    text-align: center;
	background-color: rgb(255, 255, 255);
}

.cover .wrap {
    position: relative;
    z-index: 1;
    padding: 90px 240px;
    max-width: 1024px;
}

.cover img {
    width: 30px;
    text-align: inherit;
}

.cover .header {
    font-size: 36px;
    color: black;
    padding: 0;
    font-weight: 500;
    /* text-align: inherit; */
}

.cover .descr {
    color: black;
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 1.55;
    /* text-align: cene; */
    /* text-align: inherit; */
}